<div class="container text-center from-disp">
  <p class="whiteh">
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p class="whiteh">
    <strong>Body:</strong>
    <%= @post.body %>
  </p>

  <p class="whiteh">
    <strong>Submitted By:</strong>
    <%= @post.email %>
  </p>

  <% if user_signed_in? && (current_user.email == @post.email || current_user.admin) %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
  <% end %>
    <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
  <br> <br>
  <div class="containertext container">
  <%= form_with model: [@post, @comment], local: true do |f| %>
    <%= f.rich_text_area :body, class: 'form-control greyh' %>
    <%= f.submit 'Comment', class: 'btn btn-success' %>
  <% end %>
  </div>
  <div class="container ">
  <% @comments.each  do |comment| %>
      <%curcomment="[#{comment.created_at.strftime("%I :%M %p")}] #{comment.user.username}: " %>
      <div class="card">
        <div class="card-title">
        <%= comment.user.username%>
          <%="- #{time_ago_in_words(comment.created_at)} ago" %>
        </div>
        <div class="card-body">
        <%= comment.body%>
          <% if user_signed_in? && (current_user == comment.user || current_user.admin) %>
            <%= link_to 'Delete', comment,  method: :delete, data: { confirm: 'Are you sure?'},class: 'btn btn-danger whiteh' %>

          <% end %>
        </div>

      </div>
  <% end %>
  </div>
</div>