<div class="container text-center from-disp">
  <p class="whiteh">
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p class="whiteh">
    <strong>Body:</strong>
    <%= @post.body %>
  </p>

  <p class="whiteh">
    <strong>Submitted By:</strong>
    <%= @post.email %>
  </p>

  <% if user_signed_in? && (current_user.email == @post.email || current_user.admin) %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
  <% end %>
    <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
  <br> <br>
  <div class="col-md-4 col-md-offset-4">
  <%= form_with model: [@post, @comment], local: true do |f| %>
    <%= f.text_area :body, class: 'form-control greyh' %>
    <%= f.submit 'Comment', class: 'btn btn-success' %>
  <% end %>
  </div>
  <br> <br> <br> <br><br>
  <div class="container ">
  <% @comments.each  do |comment| %>
      <%curcomment="[#{comment.created_at.strftime("%I :%M %p")}] #{comment.user.username}: #{comment.body}" %>
      <div class="card">
        <%= curcomment %>
      </div>

  <% end %>
  </div>
</div>